<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>ตั้งค่า</h2>
    <h3>โต้ะ</h3>
  </div>
</div>

<div *ngIf="!isEdit">
  <div class="wrapper wrapper-content animated fadeInRight ecommerce">
    <div class="ibox-content m-b-sm border-bottom">
      <div class="box_general padding_bottom">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>โซน</label>
              <select
                class="form-control"
                [(ngModel)]="currentZoneId"
                (change)="doGet()"
              >
                <option value="">แสดงทั้งหมด</option>
                <option *ngFor="let zone of zoneList" [value]="zone.zone_id">
                  {{ zone.lng1_c_name }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <div class="form-group text-right">
              <button class="btn-primary btn btn-lg" (click)="add()">
                <i class="fa fa-plus"> เพิ่ม </i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox">
          <div class="ibox-content">
            <table class="table table-stripped">
              <thead>
                <tr>
                  <th class="text-center">ลำดับ</th>
                  <th class="text-center">รูป</th>
                  <th>Table Name <img src="assets/img/flags/16/uk.png" /></th>
                  <th>ชื่อโต้ะ <img src="assets/img/flags/16/th.png" /></th>
                  <th class="text-center">โซน</th>
                  <th class="text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of dataList">
                  <td class="text-center">{{ row.c_seq }}</td>
                  <td class="text-center">
                    <img [src]="row.c_url_img" class="table-dataList-img" />
                  </td>
                  <td>{{ row.lng1_c_name }}</td>
                  <td>{{ row.lng2_c_name }}</td>
                  <td class="text-center">
                    {{ zoneObjList[row.zone_id].lng1_c_name }}
                  </td>
                  <td class="text-center">
                    <div class="btn-group">
                      <button
                        class="btn-warning btn-outline btn btn-sm btn-80"
                        (click)="edit(row)"
                      >
                        แก้ไข
                      </button>
                      <button
                        class="btn-danger btn-outline btn btn-sm btn-80"
                        (click)="delete(row)"
                      >
                        ลบ
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isEdit">
  <div class="wrapper wrapper-content animated fadeInRight ecommerce">
    <div class="ibox-content m-b-sm border-bottom">
      <div class="box_general padding_bottom">
        <h2>{{ mode }}โต๊ะ</h2>
      </div>

      <form [formGroup]="myForm" validate (submit)="doPost()">
        <div class="row space_line_5">
         <div class="col-md-8">
          <div class="row">
            <div class="col-md-6">
              <div
                class="form-group"
                [ngClass]="{
                  'has-error  text-danger':
                    myFormControl.zone_id.errors?.required
                }"
              >
                <label>โซน</label>
                <select class="form-control" formControlName="zone_id">
                  <option
                    *ngFor="let zone of zoneList"
                    [ngValue]="zone.zone_id"
                  >
                    {{ zone.lng1_c_name }}
                  </option>
                </select>
                <span
                  class="form-text text-danger"
                  *ngIf="myFormControl.zone_id.errors?.required"
                  >required *
                </span>
              </div>
            </div>
          </div>
          <!-- /row-->

          <div class="row">
            <div class="col-md-6">
              <div
                class="form-group"
                [ngClass]="{
                  'has-error  text-danger':
                    myFormControl.lng1_c_name.errors?.required
                }"
              >
                <label>
                  Table Name <img src="assets/img/flags/16/uk.png"
                /></label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="lng1_c_name"
                />
                <span
                  class="form-text text-danger"
                  *ngIf="myFormControl.lng1_c_name.errors?.required"
                  >required *
                </span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>
                  ชื่อโต๊ะ <img src="assets/img/flags/16/th.png"
                /></label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="lng2_c_name"
                />
              </div>
            </div>
          </div>
          <!-- /row-->

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label> ลำดับ </label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="c_seq"
                />
              </div>
            </div>
          </div>
          <!-- /row-->
        </div>
        <div class="col-md-4">
          <div class="card card-outline">
            <div class="card-body" style="height: 670px!important; max-height: 500px">
              <h4 class="mb-3 ng-binding">QR table </h4>
                
              <div class="contact-widget">
                <div class="contact-form-result"></div>
                <!--{{options.qr_show}}-->
                <div class="row justify-content-center align-items-center">
                  <!--src="./user-data/system/blank.png"-->
                  <img [src]="row.c_url_img" class="table-dataList-img" />
                </div>
               
                
                <div class="col_full nobottommargin">
                  <button class="btn btn-block ls0 m-0 btn-your ng-binding" ng-click="options.download_jpg(row,'jpg')" ng-disabled="row.c_code==''" disabled="disabled">Download .JPG</button> 
                </div>
                <br>
                <div class="col_full nobottommargin">
                  <button class="btn btn-block ls0 m-0 btn-your ng-binding" ng-click="options.download_jpg(row,'png')" ng-disabled="row.c_code==''" disabled="disabled">Download .PNG</button> 
                </div>	
                <!--
                <br>
                <div class="col_full nobottommargin" ng-show="row.zip_file!=null">
                  <button class="btn btn-block ls0 m-0 btn-your"  ng-click="options.download_jpg(row,'zip')" ng-disabled="row.c_code==''">{{ 'lng_qr_download_zip' | translate }}</button> 
                </div>	
                -->				
              
              </div>
              
        
            </div>
          </div>
        </div> 
        </div>
        
        
      </form>
    </div><div class="text-right">
          <button
            class="btn btn-danger btn-outline btn-80 btn-lg m-r-sm"
            type="button"
            (click)="cancel()"
          >
            ยกเลิก
          </button>
          <button class="btn btn-primary btn-80 btn-lg" type="submit">
            บันทึก
          </button>
        </div>
  </div>
</div>
