<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
      <h2>ตั้งค่า</h2>
      <h5>ผู้ใช้งานระบบ</h5>
    </div>
    <div class="col-lg-2"></div>
  </div>
  
  <div class="wrapper wrapper-content animated fadeInRight ecommerce">
    <div class="ibox-content m-b-sm border-bottom">
      <div class="box_general padding_bottom">
        <h2>เพิ่มผู้ใช้งานระบบ</h2>
      </div>
      <div class="form-group row">
        <label class="col-lg-1 col-form-label">ID</label>
  
        <div class="col-lg-1">
          <input
            type="text"
            disabled=""
            placeholder="12356"
            class="form-control"
          />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-1 col-form-label">Username</label>
        <div class="col-sm-3"><input type="text" class="form-control" /></div>
      </div>
      <div class="form-group row">
        <label class="col-sm-1 col-form-label">Password</label>
        <div class="col-sm-3">
          <input type="password" class="form-control" name="password" />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-1 col-form-label">ชื่อ</label>
        <div class="col-sm-3"><input type="text" class="form-control" /></div>
      </div>
      <div class="form-group row">
        <label class="col-sm-1 col-form-label">นามสกุล</label>
        <div class="col-sm-3"><input type="text" class="form-control" /></div>
      </div>
      <div class="form-group row">
        <label class="col-sm-1 col-form-label">firstname</label>
        <div class="col-sm-3"><input type="text" class="form-control" /></div>
      </div>
      <div class="form-group row">
        <label class="col-sm-1 col-form-label">lastname</label>
        <div class="col-sm-3"><input type="text" class="form-control" /></div>
      </div>
      <div class="form-group row">
        <label class="col-sm-1 col-form-label">สิทธ์การใช้งาน</label>
  
        <div class="col-sm-1">
          <select class="form-control m-b" name="account">
            <option>User</option>
            <option>Admin</option>
            <option></option>
          </select>
        </div>
      </div>
      <div class="col-md-5">
        <div class="form-group">
          <label>รูปโปรไฟล์</label>
          <form action="#" class="dropzone dz-clickable" id="dropzoneForm">
            <div class="dz-default dz-message">
              <span
                ><strong>Drop files here or click to upload. </strong><br />
                <span class="fa fa-camera"></span>
              </span>
            </div>
          </form>
        </div>
      </div>
      <div class="text-center">
  <button class="btn btn-primary btn-lg" type="submit">บันทึก</button>
      <button class="btn btn-danger btn-lg" type="submit" [routerLink]="'/user'">ยกเลิก</button>
      </div>
      
    </div>
  </div>
  