<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>ตั้งค่า</h2>
    <h3>รายการอาหาร</h3>
  </div>
 
</div>

<div *ngIf="!isEdit">
<div class="wrapper wrapper-content animated fadeInRight ecommerce">
  <div class="ibox-content m-b-sm border-bottom">
    <div class="box_general padding_bottom">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
              <label>หมวดหมู่อาหาร</label>
              <select   class="form-control" [(ngModel)]="currentMenuId" (change)="doGet()">
                  <option value="">แสดงทั้งหมด</option>
                  <option *ngFor="let menu of menuList" [value]="menu.menu_id">{{ menu.lng1_c_name }}</option>
              </select> 
            </div> 
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <div class="form-group text-right"> 
            <button class="btn-primary btn btn-lg" (click)="add()" >
              <i class="fa fa-plus"> เพิ่ม </i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-content">
          
          <table class="table table-stripped " > 
            <thead>
              <tr >
                <th class="text-center"> ลำดับ </th>
                <th  class="text-center">รูป</th> 
                <th> Item Name <img src="assets/img/flags/16/uk.png"> </th> 
                <th> ชื่อรายการอาหาร <img src="assets/img/flags/16/th.png"> </th>
                <th class="text-center"> หมวดหมู่อาหาร </th>
                <th class="text-center"> หน่วย </th>
                <th class="text-center"> Action </th>
              </tr>
            </thead>
            <tbody >
              <tr *ngFor="let row of dataList" >
                <td class="text-center">{{row.c_seq }}</td>
                <td class="text-center">
                  <img [src]="row.c_media_name" class="table-dataList-img">
                </td>
                <td>{{row.lng1_c_name }}</td>
                <td>{{row.lng2_c_name }}</td>
                <td class="text-center"> 
                  {{ (menuObjList[row.menu_id]) ?  menuObjList[row.menu_id].lng1_c_name : row.menu_id}}
                </td>
                <td class="text-center">{{row.uofm_id }}</td>
                <td class="text-center">
                  <div class="btn-group"> 
                    <button class="btn-warning btn-outline btn btn-sm btn-80" (click)="edit(row)"> แก้ไข </button>
                    <button class="btn-danger btn-outline btn btn-sm btn-80" (click)="delete(row)"> ลบ </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div *ngIf="isEdit">

  <div class="wrapper wrapper-content animated fadeInRight ecommerce">
      <div class="ibox-content m-b-sm border-bottom">
        <div class="box_general padding_bottom">
          <h2>{{mode}}รายการอาหาร</h2>
        </div>

        <div class="text-center m-b-sm">
          <img [src]="currentRow.c_media_name || 'assets/img/no-image.jpg' " width="300px"> 
        </div>
     
  <form [formGroup]="myForm"  validate (submit)="doPost()"> 
        <div class="row">  
          <div class="col-md-6">
            <div class="form-group">
              <label>รูปรายการอาหาร</label>
              <input type="file" class="form-control" id="myPhoto" name="filename" (change)="onImageChange($event)" accept=".jpg, .gif, .png" /> 
            </div>
          </div> 
          <div class="col-md-6">
              <div class="form-group" [ngClass]="{'has-error  text-danger':myFormControl.menu_id.errors?.required }">
                  <label>หมวดหมู่อาหาร</label>
                  <select class="form-control" formControlName="menu_id"  > 
                      <option *ngFor="let menu of menuList" [ngValue]="menu.menu_id">{{ menu.lng1_c_name }}</option>
                  </select> 
                  <span class="form-text text-danger" *ngIf="myFormControl.menu_id.errors?.required">required * </span>
              </div>
          </div>
        </div>
        <!-- /row-->

        <div class="row">
          <div class="col-md-6 "> 
            <div class="form-group " [ngClass]="{'has-error  text-danger':myFormControl.lng1_c_name.errors?.required }">
              <label > Item Name <img src="assets/img/flags/16/uk.png"></label>
              <input type="text" class="form-control" formControlName="lng1_c_name"    />
              <span class="form-text text-danger" *ngIf="myFormControl.lng1_c_name.errors?.required">required * </span>
            </div>
          </div>
  
          <div class="col-md-6 ">
            <div class="form-group">
              
              <label > ชื่อรายการอาหาร  <img src="assets/img/flags/16/th.png"></label>
              <input type="text" class="form-control" formControlName="lng2_c_name"  />
            </div>
          </div>
        </div>
        <!-- /row-->

        <div class="row">  
          <div class="col-md-6 ">
            <div class="form-group" [ngClass]="{'has-error  text-danger':myFormControl.f_price.errors?.required }">
              <label > ราคา </label>
              <input type="number" class="form-control" formControlName="f_price"  />
              <span class="form-text text-danger" *ngIf="myFormControl.f_price.errors?.required">required * </span>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group" >
                <label>หน่วย</label>
                <select class="form-control" formControlName="uofm_id"  > 
                    <option *ngFor="let uofm of uofmList" [ngValue]="uofm.uofm_id">{{ uofm.lng1_c_name }}</option>
                </select>  
            </div>
          </div>
        </div>
        <!-- /row-->

        <div class="row"> 
          <div class="col-md-6 ">
            <div class="form-group">
              <label > ลำดับ </label>
              <input type="text" class="form-control" formControlName="c_seq"  />
            </div>
          </div> 

          <div class="col-md-6">
            <div class="form-group" >
                <label>เครื่องพิมพ์</label>
                <select class="form-control" formControlName="printer_id"  > 
                    <option *ngFor="let printer of printerList" [ngValue]="printer.printer_id">{{ printer.c_name }}</option>
                </select>  
            </div>
          </div>

        </div>
        <!-- /row-->


    
        <div class="text-right">
          <button class="btn btn-danger btn-outline btn-80 btn-lg m-r-sm" type="button" (click)="cancel()">ยกเลิก</button>
          <button class="btn btn-primary btn-80 btn-lg" type="submit">บันทึก</button> 
        </div>
      </form>

      </div>
    </div>

</div>