<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>ตั้งค่า</h2>
    <h5>ร้านอาหาร</h5>
  </div>
  <div class="col-lg-2"></div>
</div>

<div class="wrapper wrapper-content animated fadeInRight ecommerce">
  <div class="ibox-content m-b-sm border-bottom">
    <div class="box_general padding_bottom">
      <div class="header_box version_2">
        <h2>ข้อมูลร้าน</h2>
      </div>

      <div class="text-center m-b-sm">
        <img [src]="restaurantInfo.c_media_name || 'assets/img/no-image.jpg' " width="300px"> 
      </div>
   
      <div class="row">  
        <div class="col-md-6">
          <div class="form-group">
            <label>โลโก้</label>
            <input type="file" class="form-control" id="myPhoto" name="filename" (change)="onImageChange($event)" accept=".jpg, .gif, .png" />
         
          </div>
        </div>
      </div>
      <!-- /row-->
      

<form [formGroup]="myForm"  validate (submit)="doPost()">
        <div class="row">
          <div class="col-md-6 "> 
            <div class="form-group " [ngClass]="{'has-error  text-danger':myFormControl.lng1_c_name.errors?.required }">
              
              <label >Restautant's Name <img src="assets/img/flags/16/uk.png"></label>
              <input type="text" class="form-control" formControlName="lng1_c_name"    />
              <span class="form-text text-danger" *ngIf="myFormControl.lng1_c_name.errors?.required">required * </span>
            </div>
          </div>
  
          <div class="col-md-6 ">
            <div class="form-group">
              <label >ชื่อร้าน  <img src="assets/img/flags/16/th.png"></label>
              <input type="text" class="form-control" formControlName="lng2_c_name"  />
            </div>
          </div>
        </div>
        <!-- /row-->
       
      <div class="row">
        <div class="col-md-12 ">  
          <div class="form-group "  >
            <label >ที่อยู่ 1  </label>
            <input type="text" class="form-control" formControlName="c_addr_1"   /> 
          
          </div>
        </div> 
      </div>
      <!-- /row-->
 
   
      <div class="row">
        <div class="col-md-12 "> 
          <div class="form-group">
            <label >ที่อยู่ 2  </label>
            <input type="text" class="form-control"  formControlName="c_addr_2"  />
          </div>
        </div> 
      </div>
      <!-- /row-->

      <div class="row">
        <div class="col-md-6 "> 
          <div class="form-group">
            <label >จังหวัด</label>
            <input type="text" class="form-control"  formControlName="c_province"   />
          </div>
        </div> 
        <div class="col-md-6 "> 
          <div class="form-group">
            <label >Zipcode</label>
            <input type="text" class="form-control"  formControlName="c_zip_code"   />
          </div>
        </div>
      </div>
      <!-- /row-->

      <div class="row">
        <div class="col-md-6 "> 
          <div class="form-group">
            <label >เบอร์โทร 1</label>
            <input type="text" class="form-control" formControlName="c_tel_1"  />
          </div>
        </div> 
        <div class="col-md-6 "> 
          <div class="form-group">
            <label >เบอร์โทร 2</label>
            <input type="text" class="form-control" formControlName="c_tel_2" />
          </div>
        </div>
      </div>
      <!-- /row-->

      
          
        <div class="row">  
          <div class="col-md-12">
            <div class="form-group">
              <label>ภาพบรรยากาศร้าน</label> 
              <br>

              <div class="restautant-img-list" *ngFor="let img of restaurantInfo.c_setting.c_media_data" >
                <button class="btn btn-danger btn-circle btn-sm" type="button" (click)="removeImgList(restaurantInfo.c_setting.c_media_data, img)">
                  <i class="fa fa-minus"></i>
                </button>
                <img [src]="img.c_media" >
                
              </div>

              <button class="btn btn-primary btn-outline btn-circle btn-lg" type="button" (click)="upload()">
                <i class="fa fa-plus"></i>
              </button>

              <input type="file" class="hidden" id="myPhotoList" name="filename" (change)="onImageChangeList($event)" accept=".jpg, .gif, .png" />
 
            </div> 
          </div>
        </div>
        <!-- /row-->
  

        <div class=" row text-right">
          <div class="col-md-12">
              <button class="btn btn-danger btn-outline btn-lg m-r-sm" type="button">ยกเลิก</button>
              <button class="btn btn-primary btn-lg " type="submit">บันทึก</button> 
          </div>
      </div>
      <!-- /row-->

 </form>
   
    </div>
  </div>
</div>
