<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>ตรวจสอบรายการ</h2>
  </div>
</div>
<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-md-4">
      <div class="ibox">
        <div class="ibox-title">
          <h2>โต๊ะที่สั่งอาหาร</h2>
          <div class="ibox-tools">
            <button class="btn btn-primary btn-xs" [ngClass]="{'btn-outline':!isAll}" (click)="all()">Show All</button>
          </div>
        </div>
        <div class="ibox-content" style="overflow-y: auto; height: calc(100vh - 260px) ;">
          <div >
            <div class="text-center">
              <button
                class="btn btn-primary dim btn-large-dim"
                style="text-align: left"
                type="button"
                *ngFor="let row of dataList"
                (click)="show(row)"
              >
                <div> 

                  <h3>#{{row.hdr.lng1_table_c_name }}  </h3>
                  <h5 class="ibox-order">{{row.dtl.length}} รายการ</h5>
                  <h1>Ref No. {{row.hdr.c_hdr_data.c_print_bill_no}}</h1>
                  <h1>ชื่อผู้สั่ง : {{row.hdr.c_hdr_data.print_bill_user_name}}</h1>
                  <h1>เวลา : {{row.hdr.c_hdr_data.d_print_bill | date:'HH:mm' }} น.</h1>
                  
                </div>
              </button>
            </div>
             
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="ibox">
        <div class="ibox-title">
          <h2>ออเดอร์</h2>
        </div>
        <div class="ibox-content" style="overflow-y: auto; height: calc(100vh - 260px) ;">
 
          <div class="row text-center">
            <div class="col-md-4 px-2" *ngFor="let row of orderList">
              <button
                class="btn btn-warning dim btn-large-dim"
                style="text-align: left; width: 100%;"
                type="button"  
                (click)="check(row)"
              >
                <div >
                  <h3 >โต๊ะ#{{row._hdr.lng1_table_c_name}}</h3>
                  <h5 class="ibox-order">({{row.d_create | date:'HH:mm' }}น.)</h5>
                  <br>
                  <h6>{{row.lng1_item_c_name}}</h6>
                  <h6 *ngFor="let sp of row.c_special_dtl">- {{sp.f_amount}}x {{sp.lng1_special_c_name}}</h6>
                  <h6 *ngIf="row.c_dtl_data.c_remark" >*หมายเหตุ : {{row.c_dtl_data.c_remark}}</h6>
                  <div style="text-align: right" *ngIf="row.c_dtl_data.e_action_dtl=='complete'">
                    <i class="fa fa-check" ></i>  
                  </div>
                </div>
              </button>
            </div> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
