
h3, h5{
    display: inline;
    
 }
.ibox-order{
    display: block;
  float: none;
  margin-top: 0;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0;
  text-align: right;
}
h6{
    font-size: 13px;
}

h1{
    font-size: 9px;
}