<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>ตรวจสอบรายการ</h2>
  </div>
</div>
<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-md-4">
      <div class="ibox">
        <div class="ibox-title">
          <h2>โต๊ะที่สั่งอาหาร</h2>
          <div class="ibox-tools">
            <button class="btn btn-primary btn-xs">Show All</button>
          </div>
        </div>
        <div class="ibox-content">
          <div >
            <div class="text-center">
              <button
                class="btn btn-primary dim btn-large-dim"
                style="text-align: left"
                type="button"
              >
                <div>
                  <h3>#A001</h3>
                  <h5 class="ibox-order">2 รายการ</h5>
                  <h1>Ref No. BRN000000001</h1>
                  <h1>ชื่อผู้สั่ง : จำรุญ มานะ</h1>
                  <h1>เวลา : 12.00 น.</h1>
                  
                </div>
              </button>
            </div>
            <div class="text-center">
              <button
                class="btn btn-primary dim btn-large-dim"
                style="text-align: left"
                type="button"
              >
                <div>
                  <h3>#A002</h3>
                  <h5 class="ibox-order">2 รายการ</h5>
                  <h1>Ref No. BRN000000002</h1>
                  <h1>ชื่อผู้สั่ง : ปิติ งานดี</h1>
                  <h1>เวลา : 12.10 น.</h1>
                  
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="ibox">
        <div class="ibox-title">
          <h2>ออเดอร์</h2>
        </div>
        <div class="ibox-content">
          <div class="row text-center">
            <div class="col-md-4 px-2">
              <button
                class="btn btn-warning dim btn-large-dim"
                style="text-align: left"
                type="button"
              >
                <div >
                  <h3 >โต๊ะ#A001</h3>
                  <h5 class="ibox-order">(12.00น.)</h5>
                  <h6>ตำไทย</h6>
                  <h6>-เผ็ดมาก</h6>
                  <h6>*หมายเหตุ : ไม่ต้องใส่มะเขือเทศเยอะ</h6>
                  <div style="text-align: right">
                    <i class="fa fa-check" ></i>
                  </div>
                </div>
              </button>
            </div>
            <div class="col-md-4 px-2">
              <button
                class="btn btn-warning dim btn-large-dim"
                style="text-align: left"
                type="button"
              >
                <div>
                  <h3>โต๊ะ#A001</h3>
                  <h5 class="ibox-order">(12.00น.)</h5>
                  <h6>ตำไทย</h6>
                  <h6>-เผ็ดมาก</h6>
                  <h6>*หมายเหตุ : ไม่ต้องใส่มะเขือเทศเยอะ</h6>
                  <div style="text-align: right">
                    <i class="fa fa-check" ></i>
                  </div>
                </div>
              </button>
            </div>
            <div class="col-md-4 px-2">
                <button
                  class="btn btn-warning dim btn-large-dim"
                  style="text-align: left"
                  type="button"
                >
                  <div>
                    <h3>โต๊ะ#A001</h3>
                    <h5 class="ibox-order">(12.00น.)</h5>
                    <h6>ตำไทย</h6>
                    <h6>-เผ็ดมาก</h6>
                    <h6>*หมายเหตุ : ไม่ต้องใส่มะเขือเทศเยอะ</h6>
                    <div style="text-align: right">
                      <i class="fa fa-check" ></i>
                    </div>
                  </div>
                </button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
