
h3, h5{
    display: inline;
    width: fit-content;
 }
.ibox-order{
    
  
  margin-top: 0px;
  position: absolute;
 
  right: 10px;
  padding: 0;
  text-align: right;
}
h6{
    font-size: 13px;
}

h1{
    font-size: 9px;
}
