/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200;300;400;500;600&display=swap');

html body {
    font-family: 'Prompt', sans-serif;
}
body * {
    font-family: 'Prompt', sans-serif;
    
}

.table-dataList-img{
    height: 60px;
    width: 60px;
    object-fit: cover;
}

.btn-80{
    min-width: 80px;
}
.btn-100{
    min-width: 100px;
}