<body class="md-skin pace-done">
  <div class="pace pace-inactive">
 
    <div class="pace-activity"></div>
  </div>
  <div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation">
      <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
          <li class="nav-header">
            <div class="dropdown profile-element">
              <img
                alt="image"
                class="rounded-circle"
                src="assets/img/profile_small.jpg"
              />
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <span class="block m-t-xs font-bold">Admin Admin</span>
                <span class="block m-t-xs font-bold"
                  >Admin <b class="caret"></b
                ></span>
              </a>
              <ul class="dropdown-menu animated fadeInRight m-t-xs">
                <li>
                  <a class="dropdown-item" href="profile.html">โปรไฟล์</a>
                </li>
                <li>
                  <a class="dropdown-item" href="profile.html">ตั้งค่า</a>
                </li>
                <li class="dropdown-divider"></li>
                <li>
                  <a class="dropdown-item" href="login.html">ออกจากระบบ</a>
                </li>
              </ul>
            </div>
            <div class="logo-element">IN+</div>
          </li>
          <li>
            <a [routerLink]="'/dashboard'" >
              <i class="fa fa-bar-chart"></i>
              <span class="nav-label">แดชบอร์ด</span>
            </a>
          </li>

          <li>
            <a [routerLink]="'/report'" >
              <i class="fa fa-file-text"></i>
              <span class="nav-label">รายงาน</span>
            </a>
          </li>

          <li>
            <a [routerLink]="'/bill/0'" >
              <i class="fa fa-folder-open"></i>
              <span class="nav-label">รายการอาหาร</span>
            </a>
          </li>

          <li>
            <a [routerLink]="'/listbill'" >
              <i class="fa fa-folder-open"></i>
              <span class="nav-label">รายการอาหาร</span>
            </a>
          </li>

          <li>
            <a [routerLink]="'/checklist'" >
              <i class="fa fa-book"></i>
              <span class="nav-label">ตรวจสอบรายการ</span>
            </a>
          </li>

          <!-- <li>
            <a (click)="isCollapsedCheck=!isCollapsedCheck" >
              <i class="fa fa-folder-open"></i>
              <span class="nav-label">ตรวจสอบรายการ</span>
              <span class="fa arrow"></span>
            </a>
            <ul class="nav nav-second-level collapse" [ngClass]="{'show': isCollapsedCheck}" >
              <li><a >ชำระเงิน</a></li>
              <li><a >โต้ะรอการชำระเงิน</a></li>
              <li><a [routerLink]="'/bill/0'">เรียกเก็บเงิน</a></li>
            </ul>
          </li>-->
 
          <li>
            <a (click)="isCollapsed=!isCollapsed"   >
              <i class="fa fa-cog"></i> 
              <span class="nav-label">ตั้งค่า </span>
              <span class="fa arrow"></span>
            </a>
            
              <ul class="nav nav-second-level collapse" [ngClass]="{'show': isCollapsed}" >
                <li><a [routerLink]="'/restaurant'">ร้านอาหาร</a></li>
                <li><a [routerLink]="'/zone'">โซน</a></li>
                <li><a [routerLink]="'/table'">โต๊ะ</a></li>
                <li><a [routerLink]="'/menu'">หมวดหมู่</a></li>
                <li><a [routerLink]="'/uofm'">หน่วย</a></li>
                <li><a [routerLink]="'/item'">อาหาร</a></li>
                <li><a [routerLink]="'/special'">รายการพิเศษ</a></li> 
                <li><a [routerLink]="'/special-group'">กลุ่มรายการพิเศษ</a></li> 
                <li><a [routerLink]="'/recommend'">รายการแนะนำ</a></li> 
                <li><a [routerLink]="'/printer'">เครื่องพิมพ์</a></li> 
                <li><a [routerLink]="'/user'">ผู้ใช้</a></li> 
              </ul>
            
            
        </li>

        </ul>
      </div>
    </nav>

    <div id="page-wrapper" class="gray-bg dashbard-1">
      <div class="row border-bottom">
        <nav
          class="navbar navbar-static-top"
          role="navigation"
          style="margin-bottom: 0"
        >
          <div class="navbar-header">
            <a
              class="navbar-minimalize minimalize-styl-2 btn btn-primary"
              href="#"
            >
            </a>
          </div>
          <ul class="nav navbar-top-links navbar-right">
            
            <li class="dropdown">
              <a
                class="dropdown-toggle count-info"
                data-toggle="dropdown"
                href="#"
              >
                <i class="fa fa-bell"></i>
                <span class="label label-danger" *ngIf="notiList.length>0">{{notiList.length}}</span>
              </a>
              <ul class="dropdown-menu dropdown-alerts">
           
                <li *ngFor="let row of notiList" >
                  <a [routerLink]="['/bill', row.hdr.order_hdr_id]" class="dropdown-item" style="border-bottom:1px solid #ccc;"> 
                    <div>
                      <i class="fa fa-file-o"></i> บิลเรียกเก็บเงินเลขที่ {{row.hdr.c_hdr_data.c_print_bill_no }}
                      <!-- <span class="float-right text-muted small">4 minutes ago</span> -->
                    </div>
                    <div>
                       เลขโต๊ะ  {{row.hdr.c_hdr_data.print_bill_user_name }} 
                    </div>
                  </a>
                </li>
             

                <li>
                  <div class="text-center link-block">
                    <a href="notifications.html" class="dropdown-item">
                      <strong>See All Alerts</strong>
                      <i class="fa fa-angle-right"></i>
                    </a>
                  </div>
                </li>
              </ul>
            </li>

            <li>
              <a [routerLink]="'/login'"> <i class="fa fa-sign-out"></i> Log out </a>
            </li>
          </ul>
        </nav>
      </div>



      <router-outlet></router-outlet>
      
    </div>
  </div>

  <!-- Toast notification -->

  <div
    class="toast toast-bootstrap fade hide"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
    style="position: absolute; top: 20px; right: 20px"
  >
    <div class="toast-header">
      <i class="fa fa-square text-navy"> </i>
      <strong class="mr-auto m-l-sm">Notification</strong>
      <small>1 min ago</small>
      <button
        type="button"
        class="ml-2 mb-1 close"
        data-dismiss="toast"
        aria-label="Close"
      >
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="toast-body">
      Welcome to <strong>INSPINIA</strong> - Responsive Admin Theme.
    </div>
  </div>
</body>
