<link
  href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
  rel="stylesheet"
/>

<body>
  <div class="main_box">
    <input type="checkbox" id="check" />
    <!-- <div class="btn_one">
      <label for="check">
        <i class="bx bx-menu"></i>
      </label>
    </div> -->
    <!-- <div class="sidebar_menu">
      <div class="logo">
        <a href="#">Mungkud.me</a>
      </div>
      <div class="btn_two">
        <label for="check">
          <i class="bx bx-x"></i>
        </label>
      </div>
      <div class="menu">
        <ul>
          <li>
            <i class="bx bx-grid-alt"></i>
            <a href="#">ข้อมูล</a>
          </li>
          <li>
            <i class="bx bx-store-alt"></i>
            <a href="#">ร้านค้าต้นแบบ</a>
          </li>
          <li>
            <i class="bx bx-world"></i>
            <a href="#">ภาษา</a>
          </li>
        </ul>
      </div>
    </div> -->
    <div class="container animated fadeInRight"  *ngIf="!isEdit">
       
        <div class="title">ลงทะเบียน</div>
        <span class="second">Mungkud</span>
        <br/>
        <br/>
        <div class="content">
          <form [formGroup]="myForm"  validate (submit)="doPost()">

            <div class="row"> 
              <div class="col-sm-6 px-2">
                <div class="form-group" [ngClass]="{'has-error  text-danger':myFormControl.lng1_c_name.errors?.required }">
                  <label >ชื่อร้านอาหารของคุณ <span class="text-danger" *ngIf="myFormControl.lng1_c_name.errors?.required"> * </span> </label> 
                  <input type="text" formControlName="lng1_c_name" class="form-control"   /> 
                </div>
              </div>

              <div class="col-sm-6 px-2"> 
                <div class="form-group" [ngClass]="{'has-error  text-danger':myFormControl.c_contact.errors?.required }">
                  <label >ชื่อ - นามสกุล <span class="text-danger" *ngIf="myFormControl.c_contact.errors?.required"> * </span></label>
                  <input type="text" formControlName="c_contact" class="form-control" /> 
                </div>
              </div>
            </div>
            <!-- row -->
              
            <div class="row">
              <div class="col-md-6  col-6 col-sm-4 px-2">
                <div class="form-group">
                  <label  >จังหวัด</label> 
                  <select   class="select" formControlName="company_province_id"  (change)="doGetDistrict($event)"> 
                    <option *ngFor="let province of provinceList" [value]="province.province_id">{{ province.c_province_th }}</option>
                  </select>  
                </div>
              </div>

              <div class="col-md-6 col-6 col-sm-4 px-2">
                <div class="form-group">
                  <label >เขต/อำเภอ</label>
                  <select   class="select" formControlName="company_district_id"  (change)="doGeTambon($event)"> 
                    <option *ngFor="let district of districtList" [value]="district.district_id">{{ district.c_district_th }}</option>
                  </select> 
                </div>
              </div>
            </div>
            <!-- row -->

            <div class="row">
              <div class="col-md-6  col-6 col-sm-4 px-2">
                <div class="form-group">
                  <label  >อีเมล</label>
                  <input type="email" formControlName="c_contact_email"  class="form-control" />
                </div>
              </div>  

              <div class="col-md-6 col-6 col-sm-4 px-2">
                <div class="form-group" [ngClass]="{'has-error  text-danger':myFormControl.c_contact_phone_no.errors?.required }">
                  <label >เบอร์โทรติดต่อ <span class="text-danger" *ngIf="myFormControl.c_contact_phone_no.errors?.required"> * </span> </label>
                  <input type="text" formControlName="c_contact_phone_no"  class="form-control" /> 
                </div>
              </div>  
            </div>  
            <!-- row -->

            <div class="row">
              <div class="col-md-6 col-6 col-sm-4 px-2">
                <div class="form-group" [ngClass]="{'has-error  text-danger':myFormControl.company_template_id.errors?.required }">
                  <label class="details">ร้านต้นแบบ <span class="text-danger" *ngIf="myFormControl.company_template_id.errors?.required"> * </span></label> 
                  <select formControlName="company_template_id" class="selectres "  >
                    <option *ngFor="let template of templateList" [ngValue]="template.company_template_id " >{{template.lng1_c_name}} </option> 
                  </select>
                  
                </div>
              </div>

              <div class="col-md-6 col-6 col-sm-4 px-2">
                <div class="form-group">
                  <br>
                  <a (click)="view(myFormControl.company_template_id.value)">แสดงตัวอย่างรายการอาหาร</a>
                </div>
              </div>
            </div>
            <!-- row -->

            <!-- <div class="policy">
              <input type="checkbox" formControlName="agreement" />
              <h3>I accept all terms & condition  {{ }}</h3>
            </div> -->

            <div class="button">
              <button type="submit" class="btn btn-primary btn-block" style=" padding: 10px; font-size: 1.5em;"  >  Register</button>
            </div>

            <!-- <div class="text-center">
              <button  class="btn btn-danger btn-block" style=" padding: 5px ; font-size: 1.5em;" [routerLink]="'/login'" >Back</button>
            </div>  -->
            
          </form>
        </div>
      
      

    </div>
    <div class="container animated fadeInRight"  *ngIf="isEdit">

      
        <div class="title">{{currentTemplate.lng1_c_name }}</div>
        <span class="details">ร้านต้นแบบ</span>
        <hr>
        <div class="content"> 
          <br>

          <div class="form-group">
            <label>หมวดหมู่อาหาร</label>
            <select   class="form-control" [(ngModel)]="currentMenuId" (change)="selectMenu()" >
              <option value="">แสดงทั้งหมด</option>
              <option *ngFor="let menu of currentTemplate.setmenu" [value]="menu.menu_id">{{ menu.lng1_menu_c_name }}</option>
            </select>
          </div> 
          <br>
 
          <table class="table table-stripped " > 
            <thead>
              <tr > 
                <th class="text-center"> หมวดหมู่อาหาร </th>
                <th>ชื่อรายการอาหาร </th>  
                <th class="text-right"> ราคา </th> 
              </tr>
            </thead>
            <tbody > 
              <tr *ngFor="let row of setitem" > 
                <td class="text-center"> 
                  {{ row.lng1_menu_c_name }}
                </td>
                <td>{{row.lng1_item_c_name }}</td> 
                <td class="text-right">{{row.f_price | number : '1.2-2' }}</td> 
              </tr>
            </tbody>
          </table>

          <hr>
          <br>
          <div class="text-center">
            
            <a (click)="cancel()" >Back</a>
          </div> 

        </div>

         
    </div>

    
  </div>
</body>
