<body class="login-bg">
    <div class="middle-box text-center loginscreen animated fadeInDown">
      <div>
        <div>
          <h1 class="logo-name"></h1>
        </div>
        <h3 class="text-left">ลงทะเบียนใช้งาน</h3>
        <p>
          <!--Continually expanded and constantly improved Inspinia Admin Them (IN+)-->
        </p>
        <p class="text-left">SelfOrder</p>
      
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="ชื่อร้านของคุณ"
              
            />
          </div>
          

          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="ชื่อ-นามสกุล"
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="จังหวัด"
              
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Username"
              
            />
          </div>

          
        <p class="m-t"><small></small></p>
        
      </div>
    </div>
  </body>
  